<section class="hero has-background-danger-light is-fullheight">
  <div class="hero-body has-text-centered is-family-monospace">
    <div class="container">
      <p class="title has-text-grey-dark is-size-1 py-2">Junie Stigdon</p>
      <p class="subtitle has-text-danger-dark is-size-5 py-2">
        - Full Stack Web Developer -
      </p>
      <div class="columns is-mobile is-centered pt-2">
        <app-icon-link
          [icon]="faGithub"
          link="https://github.com/junie-stigdon"
          hoverText="GitHub"
        ></app-icon-link>
        <app-icon-link
          [icon]="faLinkedin"
          link="https://www.linkedin.com/in/juniestigdon/"
          hoverText="LinkedIn"
        ></app-icon-link>
        <app-icon-link
          [icon]="faEnvelope"
          link="mailto:contact@juniestigdon.com"
          hoverText="Contact Me"
        ></app-icon-link>
      </div>
    </div>
  </div>
</section>
