<section class="hero has-background-danger-light is-fullheight">
  <div class="hero-body has-text-centered">
    <div class="container">
      <p class="title has-text-grey-dark is-size-1 py-2">Junie Stigdon</p>
      <p class="subtitle has-text-danger-dark is-size-3 py-2">
        | Full Stack Web Developer |
      </p>
      <a>
        <fa-icon
          class="has-text-grey-dark px-5"
          [icon]="faGithub"
          size="3x"
        ></fa-icon>
      </a>
      <a>
        <fa-icon
          class="has-text-grey-dark px-5"
          [icon]="faLinkedin"
          size="3x"
        ></fa-icon>
      </a>
      <a>
        <fa-icon
          class="has-text-grey-dark px-5"
          [icon]="faEnvelope"
          size="3x"
        ></fa-icon>
      </a>
    </div>
  </div>
</section>
